<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{ pendientes }}</strong> tareas creadas</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li (click)="changeFilter(filtro)" *ngFor="let filtro of validateFilters">
        <a [ngClass]="{'selected': filtro===filterCurrent}">{{ filtro }}</a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button (click)="clean()" class="clear-completed">Limpiar completadas</button>
  </footer>